* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 100vh;
    display: flex;
}
.left {
    width: 51%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    /* background: linear-gradient(to bottom right, #a4def5, #06334f 90%); */

    background-color: rgba(64, 87, 109, 0.07);
    margin: 25px;
}
.logo {
    display: flex;
    align-items: center;
    color: #186c92;
    margin-bottom: 20px;
}
.logo img {
    width: 80px;
    height: 80px;
}
.logo h1 {
    margin-left: 7px;
}
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-cover {
    height: 500px;
    width: 80%;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1 {
    color: #000039;
    font-size: 40px;
}
.title h4 {
    margin-top: 10px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center input {
    width: 350px;
    height: 50px;
    margin-bottom: 40px;
    padding: 5px;
    font-size: medium;
    border: 0;
    outline: 0;
    border-radius: 2px;
    border: 1px solid lightgrey;
}
.login-button {
    background-color: #4285f4;
    width: 250px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: medium;
    color: white;
    margin-top: 30px;
    font-weight: bold;
}
.login-button:hover {
    background-color: #399cff;
}

.end a {
    text-decoration: none;
    color: #1560bd;
    cursor: pointer;
}
